#app {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  color: #4d4d4d;
  min-width: 550px;
  max-width: 850px;
  margin: 0 auto;
}

a.active,
a.active:focus {
  color: #f59700;
  text-decoration: none;
}

header {
  padding-top: 20px;
  margin-bottom: 20px;
}

.circle span {
  display: block;
  background: #1f8dd4;
  border-radius: 50%;
}
.circle {
  width: 20px;
  height: 20px;
}
